@import url(https://otkui.github.io/practice1/common.css);

/* ☆☆画像天地左右中央配置☆☆ */
div#lightbox {
  top: 50% !important;
  position: fixed;
  transform: translateY(-50%);
}

.flexback2 {
  margin-top: 180px;
  margin-bottom: 460px;
}

/* フレックスボックス */
.container_1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 52px;
}
.container_2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 52px;
  padding-top: 50px;
}
.container_3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 52px;
  padding-top: 50px;
}
.container_4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 52px;
  padding-top: 50px;
}
.container_5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 52px;
  padding-top: 50px;
}

/* レスポンシブ */
@media (max-width: 575px) {
  .flexback2 {
    margin-top: 180px;
    margin-bottom: 300px;
  }

  .flex p img {
    width: 150px;
  }

  .container_1 {
    gap: 20px;
  }
  .container_2 {
    gap: 20px;
  }
  .container_3 {
    gap: 20px;
  }
  .container_4 {
    gap: 20px;
  }
  .container_5 {
    gap: 20px;
  }
}
@media (max-width: 991px) {
  .flexback2 {
    margin-top: 180px;
    margin-bottom: 300px;
  }

  .flex p img {
    width: 300px;
  }
}
