@import url(https://otkui.github.io/practice1/common.css);

.flexback2 {
  margin-top: 180px;
  margin-bottom: 460px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 57px 52px;
}

/* レスポンシブ */
@media (max-width: 575px) {
  .flexback2 {
    margin-top: 180px;
    margin-bottom: 300px;
  }

  .flex p img {
    width: 150px;
  }

  .container_1 {
    display: flex;
    justify-content: center;
    gap: 10px 10px;
  }
  .container_2 {
    display: flex;
    justify-content: center;
    gap: 10px 10px;
  }
  .container_3 {
    display: flex;
    justify-content: center;
    gap: 10px 10px;
  }
  .container_4 {
    display: flex;
    justify-content: center;
    gap: 10px 10px;
  }
  .container_5 {
    display: flex;
    justify-content: center;
    gap: 10px 10px;
  }
}
