@import url(common.css);

/* トップページイラスト */
p.topimg {
  /* background-color: blueviolet; */
  width: 600px;
  height: 811px;
  position: absolute;
  z-index: 1;
  right: 100px;
  top: 197px;
}

/* トップページ文字Artworkspace */
h1 {
  /* background-color: aquamarine; */
  font-size: 68px;
  position: absolute;
  z-index: 2;
  top: 747px;
  color: rgb(40, 36, 31);
  border-bottom: 2px solid rgb(40, 36, 31);
}

/* リンクボタン背景 */
section.linkback {
  width: 1152px;
  height: 1263px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1017px;
  margin-bottom: 138px;
}

/* リンクボタン */

.linkA {
  /* 背景画像 */
  background-image: url(../img/h_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 650px;
  height: 250px;
  display: inline-block;
  margin-top: 182px;
  margin-left: 251px;
}

p.linkA a {
  /* テキストボックス */
  background-color: #fff;
  display: inline-block;
  width: 240px;
  height: 104px;
  /* 文字 */
  font-size: 42px;
  line-height: 42px;
  text-align: center;
  padding-top: 29px;
  margin-top: 73px;
  margin-left: 0;
  /* 矢印 */
  background-image: url(../img/yajirushi.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: right 3px center;
}

p.linkA a:hover {
  /* ホバー */
  text-decoration: none;
}

.linkG {
  /* 背景画像 */
  background-image: url(../img/h_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 650px;
  height: 250px;
  display: inline-block;
  margin-top: 75px;
  margin-left: 251px;
}

p.linkG a {
  /* テキストボックス */
  background-color: #fff;
  display: inline-block;
  width: 240px;
  height: 104px;
  /* 文字 */
  font-size: 42px;
  line-height: 42px;
  text-align: center;
  padding-top: 29px;
  margin-top: 73px;
  margin-left: 0;
  /* 矢印 */
  background-image: url(../img/yajirushi.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: right 3px center;
}

p.linkG a:hover {
  /* ホバー */
  text-decoration: none;
}

.linkP {
  /* 背景画像 */
  background-image: url(../img/h_3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 650px;
  height: 250px;
  display: inline-block;
  margin-top: 75px;
  margin-left: 251px;
}

p.linkP a {
  /* テキストボックス */
  background-color: #fff;
  display: inline-block;
  width: 240px;
  height: 104px;
  /* 文字 */
  font-size: 42px;
  line-height: 42px;
  text-align: center;
  padding-top: 29px;
  margin-top: 73px;
  margin-left: 0;
  /* 矢印 */
  background-image: url(../img/yajirushi.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: right 3px center;
}

p.linkP a:hover {
  /* ホバー */
  text-decoration: none;
}
