@import url(https://otkui.github.io/practice1/common.css);

/* トップページイラスト */
p.topimg {
  /* background-color: blueviolet; */
  width: 600px;
  padding-top: 100px;
  right: 100px;
  top: 197px;
}

.topimg {
  margin-left: auto;
  padding-right: 100px;
}

/* リンクボタン背景 */
section.linkback {
  width: 1152px;
  height: 1600px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 138px;
}

/* リンクボタン */

.linkA {
  /* 背景画像 */
  background-image: url(https://github.com/otkui/practice1/blob/main/img/h_1.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 650px;
  height: 250px;
  display: inline-block;
  margin-top: 182px;
  margin-left: 251px;
  box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.2);
}

p.linkA a {
  /* テキストボックス */
  background-color: #fff;
  display: inline-block;
  width: 240px;
  height: 104px;
  /* 文字 */
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 29px;
  margin-top: 158px;
  margin-left: 0;
}

p.linkA a:hover {
  /* ホバー */
  text-decoration: none;
}

/* more→ */
span.more {
  font-size: 20px;
  font-weight: normal;
}

/* 透かし文字 */
p.shadowfont {
  font-size: 280px;
  position: absolute;
  z-index: 1;
  opacity: 0.2;
  margin-top: 90px;
  margin-left: 350px;
}

p.shadowfont2 {
  font-size: 280px;
  position: absolute;
  z-index: 1;
  opacity: 0.2;
  margin-top: -20px;
  margin-left: 350px;
}

p.shadowfont3 {
  font-size: 280px;
  position: absolute;
  z-index: 1;
  opacity: 0.2;
  margin-top: -20px;
  margin-left: 350px;
}

p.shadowfont4 {
  font-size: 280px;
  position: absolute;
  z-index: 1;
  opacity: 0.2;
  margin-top: -20px;
  margin-left: 350px;
}

.linkG {
  /* 背景画像 */
  background-image: url(https://github.com/otkui/practice1/blob/main/img/h_2.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 650px;
  height: 250px;
  display: inline-block;
  margin-top: 75px;
  margin-left: 251px;
  box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.2);
}

p.linkG a {
  /* テキストボックス */
  background-color: #fff;
  display: inline-block;
  width: 240px;
  height: 104px;
  /* 文字 */
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 29px;
  margin-top: 158px;
  margin-left: 0;
}

p.linkG a:hover {
  /* ホバー */
  text-decoration: none;
}

.linkP {
  /* 背景画像 */
  background-image: url(https://github.com/otkui/practice1/blob/main/img/h_3.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 650px;
  height: 250px;
  display: inline-block;
  margin-top: 75px;
  margin-left: 251px;
  box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.2);
}

p.linkP a {
  /* テキストボックス */
  background-color: #fff;
  display: inline-block;
  width: 240px;
  height: 104px;
  /* 文字 */
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 29px;
  margin-top: 158px;
  margin-left: 0;
}

p.linkP a:hover {
  /* ホバー */
  text-decoration: none;
}

.linkC {
  /* 背景画像 */
  background-image: url(https://github.com/otkui/practice1/blob/main/img/h_4.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 650px;
  height: 250px;
  display: inline-block;
  margin-top: 75px;
  margin-left: 251px;
  box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.2);
}

p.linkC a {
  /* テキストボックス */
  background-color: #fff;
  display: inline-block;
  width: 240px;
  height: 104px;
  /* 文字 */
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 29px;
  margin-top: 158px;
  margin-left: 0;
}

p.linkC a:hover {
  /* ホバー */
  text-decoration: none;
}

/* レスポンシブ */
@media (max-width: 575px) {
  /* メインの書式 */
  p.topimg {
    /* background-color: aquamarine; */
    max-width: 100%;
    padding-right: 10px;
  }

  /* リンクボタン背景 */
  section.linkback {
    width: 90%;
    height: 90%;
    background-color: #fff;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 100px;
  }

  .linkA {
    /* 背景画像 */
    width: 90%;
    height: 90%;
    margin-top: 35%;
    margin-left: 15%;
  }

  .linkG {
    /* 背景画像 */
    width: 90%;
    height: 90%;
    margin-top: 25%;
    margin-left: 15%;
  }

  .linkP {
    /* 背景画像 */
    width: 90%;
    height: 90%;
    margin-top: 25%;
    margin-left: 15%;
  }

  .linkC {
    /* 背景画像 */
    width: 90%;
    height: 90%;
    margin-top: 25%;
    margin-left: 15%;
  }

  p.linkA a {
    /* テキストボックス */
    width: 60%;
    height: 80%;
    /* 文字 */
    font-size: 60%;
    line-height: 25px;
    margin-top: 85px;
  }

  span.more {
    font-size: 60%;
  }

  p.linkG a {
    /* テキストボックス */
    width: 60%;
    height: 80%;
    /* 文字 */
    font-size: 60%;
    line-height: 25px;
    margin-top: 85px;
  }

  p.linkP a {
    /* テキストボックス */
    width: 60%;
    height: 80%;
    /* 文字 */
    font-size: 60%;
    line-height: 25px;
    margin-top: 85px;
  }

  p.linkC a {
    /* テキストボックス */
    width: 60%;
    height: 80%;
    /* 文字 */
    font-size: 60%;
    line-height: 25px;
    margin-top: 85px;
  }

  p.shadowfont {
    font-size: 100px;
    position: absolute;
    z-index: 1;
    opacity: 0.4;
    margin-top: 70px;
    margin-left: 20px;
  }
  p.shadowfont2,
  p.shadowfont3,
  p.shadowfont4 {
    font-size: 100px;
    position: absolute;
    z-index: 1;
    opacity: 0.4;
    margin-top: 20px;
    margin-left: 20px;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  p.topimg {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  section.linkback {
    width: 80%;
    height: 90%;
    background-color: #fff;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 100px;
  }
  .linkA {
    /* 背景画像 */
    width: 90%;
    height: 90%;
    margin-top: 35%;
    margin-left: 15%;
  }
  .linkG,
  .linkP,
  .linkC {
    /* 背景画像 */
    width: 90%;
    height: 90%;
    margin-top: 25%;
    margin-left: 15%;
  }
  p.shadowfont {
    font-size: 180px;
    position: absolute;
    z-index: 1;
    opacity: 0.4;
    margin-top: 150px;
    margin-left: 20px;
  }
  p.shadowfont2,
  p.shadowfont3,
  p.shadowfont4 {
    font-size: 200px;
    position: absolute;
    z-index: 1;
    opacity: 0.4;
    margin-top: 50px;
    margin-left: 20px;
  }
}
