@import url(https://otkui.github.io/practice1/common.css);

/* カレンダー写真 */
.calendar {
  /* text-align: center; */
  padding-top: 181px;
  width: 600px;
  height: 484px;
  margin-left: auto;
  margin-right: auto;
}

.setsumei2 {
  /* background-color: yellowgreen; */
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  margin-top: 700px;
}

/* 制作写真 */
.makepic {
  /* background-color: blue; */
  width: 500px;
  height: 665px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 108px;
}

.imgbox {
  /* background-color: aqua; */
  margin-top: 177px;
  margin-bottom: 210px;
}

/* フッター上余白 */
footer {
  margin-top: 400px;
}

/* .slider {
  padding-bottom: 400px;
} */

/* スライド用写真 */
.slide {
  width: 450px;
  height: 639px;
  margin-left: auto;
  margin-right: auto;
}

/* スライド実行用CSS */
.slide img {
  width: 450px;
  height: 639px;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* slick */
.slick-next {
  right: 25%;
  opacity: 0.9;
}

.slick-prev {
  left: 25%;
  z-index: 1;
  opacity: 0.9;
}

/* slickの色 */
.slick-next::before,
.slick-prev::before {
  color: rgb(40, 36, 31);
}

/* レスポンシブ */
@media (max-width: 575px) {
  .calendar {
    padding-top: 181px;
    width: 90%;
  }

  p.setsumei2 {
    font-size: 18px;
    line-height: 40px;
    margin-top: 300px;
  }

  .makepic {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .makepic {
    /* background-color: blue; */
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .imgbox {
    /* background-color: aqua; */
    margin-top: 177px;
    margin-bottom: 210px;
  }

  .slide {
    width: 70%;
    height: 70%;
  }

  /* スライド実行用CSS */
  .slide img {
    width: 70%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    object-fit: cover;
  }

  /* slick */
  .slick-next {
    right: 5%;
  }

  .slick-prev {
    left: 5%;
  }

  .slick-dots li {
    width: 10px;
    height: 10px;
  }

  .slick-dots {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    margin-top: 200px;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .calendar {
    padding-top: 181px;
    width: 90%;
  }

  p.setsumei2 {
    font-size: 20px;
    line-height: 40px;
    margin-top: 800px;
  }

  .makepic {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .makepic {
    /* background-color: blue; */
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .imgbox {
    /* background-color: aqua; */
    margin-top: 177px;
    margin-bottom: 210px;
  }

  .slide {
    width: 70%;
    height: 70%;
  }

  /* スライド実行用CSS */
  .slide img {
    width: 70%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    object-fit: cover;
  }

  /* slick */
  .slick-next {
    right: 5%;
  }

  .slick-prev {
    left: 5%;
  }

  .slick-dots li {
    width: 10px;
    height: 10px;
  }

  .slick-dots {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    margin-top: 200px;
  }
}
